* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  background-color: black;
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2vw;
}

/* Основные настройки сайта */
body {
  color: #e2e6e9;
  background-color: #111213;
}

/* Общий стиль заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

strong {
  color: #97b8ff;
  font-weight: bold;
}

/* Главная секция */
/* Изначально прозрачный header */

#name a {
  font-weight: 350;
  color: #97b8ff;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  font-weight: 200;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  max-height: 10vh;
}

.header-container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-actions a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); /* Белый с 50% прозрачности */
  font-size: 1em;
  transition: font-size 0.2s;
}

.header-actions a:hover {
  color: #ffffff;
  font-size: 1.1em;
}

.nav-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); /* Белый с 50% прозрачности */
  font-size: 1em;
  transition: font-size 0.2s;
}

.nav-item a:hover {
  color: #ffffff;
  font-size: 1.1em;
}

.header.scroll-active {
  background: linear-gradient(135deg, #111213, #0d0326, #111213);

  transition: background-color 0.3s; /* Плавный переход цвета */
}

.header.scroll-active .nav-item a:hover {
  color: #ffffff; /* Контрастный текст */
}

/* Блок Hero */
.hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(13, 3, 38, 0.5),
      rgb(13, 3, 38, 1)
    ),
    url("../images/7935.jpg") center/cover no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.7); */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  text-align: left; /* Текст выровнен по левому краю */
  padding: 20px;
}

.hero h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 1.2;
  text-transform: uppercase;
}
.hero h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: clamp(1rem, 2vw, 2rem);
  color: #979797; /* Белый с 50% прозрачности */
}

/* Анимация текста с помощью AOS */
[data-aos="fade-right"] {
  opacity: 0;
  transform: translateX(-50px);
  transition-property: opacity, transform;
}

[data-aos="fade-right"].aos-animate {
  opacity: 1;
  transform: translateX(0);
}

[data-aos="fade-left"] {
  opacity: 0;
  transform: translateX(+50px);
  transition-property: opacity, transform;
}

[data-aos="fade-left"].aos-animate {
  opacity: 1;
  transform: translateX(0);
}

[data-aos="fade-out"] {
  opacity: 1;
  transform: translateY(0); /* Элемент остаётся на месте */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Состояние при активации анимации */
[data-aos="fade-out"].aos-animate {
  opacity: 0; /* Текст постепенно исчезает */
  transform: translateY(-20px); /* Текст поднимается немного вверх */
}

/* Основной контент */

.fullscreen-container {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(13, 3, 38); /* темно-синий фон */
}

.box {
  padding: 10vh 5vw 10vh 5vw;
  background-color: #111213;
  border-radius: 1px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  min-width: 70%; /* ширина контейнера меньше, чем на весь экран */
  max-width: 800px;
  min-height: 50%;
  max-height: 70%;
}

.box > h2 {
  margin-bottom: 5%;
  font-size: 2.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* две колонки */
  grid-gap: 15px;
}

/* Карточки */
.card {
  background-color: #303132; /* светлый фон карточки */
  border-radius: 1.5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: left;
}

.card p {
  text-align: left;
  font-size: 1rem;
  color: #ffffff;
}

/*
.quote-block {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 20px 20px 60px;
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;
  border-left: 4px solid #0078d7;
  border-radius: 4px;
}

.quote-text {
  margin: 0;
  padding: 0;
}

.quote-mark {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 40px;
  color: #0078d7;
  font-weight: bold;
  line-height: 1;
  opacity: 0.3;
}

.quote-author {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  text-align: right;
}
*/

.fullscreen-container-2 {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: linear-gradient(to bottom, rgba(13, 3, 38, 1), rgb(17, 18, 19));
}

.box-2 {
  padding: 5vh 5vw 5vh 5vw;
  min-width: 70%; /* ширина контейнера меньше, чем на весь экран */
  max-width: 800px;
  min-height: 50%;
}

.box-2 > h2 {
  margin-bottom: 5%;
  font-size: 2.5rem;
}

.box-2 > p {
  text-align: left;
  font-size: 1.2rem;
  color: #e2e6e9;
}

.fullscreen-container-3 {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgb(17, 18, 19),
      rgba(13, 3, 38, 0.5),
      rgba(13, 3, 38, 1)
    ),
    url("../images/space-galaxy-background.jpg") center/cover no-repeat;
}

.box-3 {
  padding: 5vh 5vw 10vh 5vw;
  min-width: 70%; /* ширина контейнера меньше, чем на весь экран */
  max-width: 800px;
  min-height: 70%;
}

.box-3 h2 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: #ffffff;
}

.box-3 p {
  text-align: left;
  font-size: 1.2rem;
  color: #e2e6e9;
  margin-bottom: 3%;
}

.card-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* две колонки */
  grid-gap: 15px;
}

.card-2 {
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 20px;
}
.card-2 h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: left;
  margin-left: -20px;
}
.card-2 p {
  padding-left: 5px;
  border-left: 4px solid rgb(151, 184, 255);
  color: #e2e6e9;
  font-weight: 350;
}

.fullscreen-container-4 {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(13, 3, 38); /* темно-синий фон */
}

.fullscreen-container-4 > .box {
  background-color: rgb(151, 184, 255);
}

.fullscreen-container-4 > .box > h2 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: #000000;
}

.fullscreen-container-4 > .box > p {
  text-align: left;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1%;
}

.fullscreen-container-4 .card {
  background-color: #0d0326;
  box-shadow: none;
  font-weight: 350;
}

.box-4 {
  padding: 0;
  min-width: 70%; /* ширина контейнера меньше, чем на весь экран */
  max-width: 800px;
  min-height: 50%;
}

.box-4 > h2 {
  margin-bottom: 2%;
  font-size: 2.5rem;
}
.box-4 > p {
  text-align: left;
  font-size: 1.2rem;
  color: #e2e6e9;
  margin-bottom: 1%;
}

.fullscreen-container-5 {
  padding-top: 10px;
  padding: 5vh 5vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(
      to bottom,
      rgba(13, 3, 38, 1),
      rgba(13, 3, 38, 0.8),
      rgba(13, 3, 38, 0.7),
      rgba(17, 18, 19, 0.7),
      rgba(17, 18, 19, 1)
    ),
    url("../images/7935.jpg") center/cover no-repeat;
}

.card-container-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* две колонки */
  grid-gap: 30px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.team-member {
  display: flex; /* Включаем Flexbox */
  flex-direction: row; /* Расположение в строку */
  align-items: center; /* Центровка по вертикали */
  background-color: transparent;
  border-radius: 3px;
  padding: 30px;
  text-align: left; /* Текст выравнивается по левому краю */
  max-width: 400px; /* Увеличьте ширину, если нужно */
}

.team-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px; /* Расстояние между фото и текстом */
  margin-bottom: 0; /* Убираем отступ снизу */
}

.fullscreen-container-login {
  width: cover;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      to top,
      rgb(17, 18, 19),
      rgba(13, 3, 38, 0.5),
      rgba(13, 3, 38, 1)
    ),
    url("../images/space-galaxy-background.jpg") center/cover no-repeat;
}

.box-login {
  margin: 5vh 5vw 5vh 5vw;
  background-color: rgb(17, 18, 19, 0);
  border-radius: 2px;
  max-width: 800px;
  min-height: 400px;
  max-height: 70vh;
  text-align: center;
}

.box-login h2 {
  margin-bottom: 5%;
  font-size: 2.5rem;
}

.card-container-login {
  display: flex;
  margin: 0;
  flex-direction: column;
}

/* Карточки */
.card-login {
  background-color: rgba(13, 3, 38, 0);
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  margin: 0;
}

.card-login h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.card-login p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
}

.card-login a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  padding: 10px;
  transition: all 0.2s ease;
}
.card-login a:hover {
  color: rgb(151, 184, 255);
  font-size: 1.01rem;
}

.login-btn {
  background-color: rgb(151, 184, 255); /* Зелёный фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  padding: 8px 20px; /* Внутренние отступы */
  text-align: center; /* Центрирование текста */
  font-size: 1rem; /* Размер шрифта */
  cursor: pointer; /* Курсор указывает на кликабельность */
  border-radius: 2px; /* Скругленные углы */
  transform: translateY(+3px);
}

.login-btn:hover {
  background-color: rgb(190, 210, 255); /* Темнее при наведении */
}

.custom-input {
  /* Растянуть на всю ширину контейнера */
  padding: 10px; /* Внутренние отступы */
  margin: 15px 0; /* Отступы сверху и снизу */
  border: 2px solid #fff; /* Цвет границы */
  border-radius: 2px; /* Скругленные углы */
  font-size: 16px; /* Размер текста */
  background: rgba(255, 255, 255, 0.95); /* Белый фон */
  color: rgba(51, 51, 51); /* Цвет текста */
  transition: all 0.2s ease;
}

.custom-input:hover {
  border-color: rgb(150, 182, 255); /* Изменение цвета границы при фокусе */
  outline: none; /* Убрать стандартный обвод */
  /* Лёгкая подсветка */
}

.custom-input:focus {
  border-color: rgb(150, 182, 255); /* Изменение цвета границы при фокусе */
  outline: none; /* Убрать стандартный обвод */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Лёгкая подсветка */
  background: #ffffff;
}

.login {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-top: 20px;
}
.login div {
  font-weight: 300;
  font-size: 1rem;
  color: rgb(150, 182, 255);
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 10px; /* Расстояние между чекбоксом и текстом */
}

.custom-checkbox {
  appearance: none; /* Скрыть стандартный чекбокс */
  width: 20px;
  height: 20px;
  border: 3px solid rgb(150, 182, 255);
  border-radius: 1px;
  background-color: #fff;
  cursor: pointer;
  transform: translateY(+7px);
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #ffffff;
  border-color: rgb(150, 182, 255);
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(150, 182, 255);
  border-radius: 1px;
}

.reg-pass {
  display: flex;
  justify-content: space-between;
}

.reg-pass {
  display: flex;
  flex-direction: row;
  grid-gap: 15px;
  margin: 0;
  padding-bottom: 20px;
}

.card-container-reg {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.card-container-reg .custom-input {
  /* Растянуть почти на всю ширину контейнера */
  width: 70%;
  padding: 8px; /* Внутренние отступы */
  margin: 10px 0; /* Отступы сверху и снизу */
  border: 2px solid #ffffff; /* Цвет границы */
  border-radius: 2px; /* Скругленные углы */
  font-size: 14px; /* Размер текста */
  background: rgba(255, 255, 255, 0.95); /* Белый фон */
  color: #333; /* Цвет текста */
  transition: all 0.2s ease;
}

.card-container-reg .custom-input:hover {
  border-color: rgb(150, 182, 255); /* Изменение цвета границы при фокусе */
  outline: none; /* Убрать стандартный обвод */
  /* Лёгкая подсветка */
}

.card-container-reg .custom-input:focus {
  border-color: rgb(150, 182, 255); /* Изменение цвета границы при фокусе */
  outline: none; /* Убрать стандартный обвод */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Лёгкая подсветка */
  background: #ffffff;
}

.card-container-reg .card-login a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  padding: 5px;
  transition: all 0.2s ease;
}

.card-container-reg .card-login a:hover {
  color: rgb(151, 184, 255);
  font-size: 1.01rem;
}

/* Футер 
.footer {
  background-color: rgb(17, 18, 19);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  font-weight: 100;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(151, 184, 255, 1);
}*/

/* Адаптивность */

.footer {
  padding-top: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: #111213;
}

.footer-row {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.footer ul,
.footer li {
  list-style: none;
}

.footer h4 {
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer p {
  font-size: 1.2rem;
  color: #e2e6e9;
  font-weight: 300;
  position: relative;
}

.footer h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(151, 184, 255);
  height: 4px;
  box-sizing: border-box;
  width: 50px;
}

.footer ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.footer ul li a:hover {
  color: rgb(151, 184, 255);
  padding-left: 8px;
}
.footer .mail:hover {
  color: rgb(151, 184, 255);
  padding-left: 8px;
}

.footer .social-links {
  padding-top: 40px;
}

.footer .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #303132;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #e2e6e9;
  transition: all 0.5s ease;
}
.footer .social-links a:hover {
  color: #111213;
  background-color: rgb(151, 184, 255);
}

/* Адаптивность */
@media (max-width: 1700px) {
  .card-container-2 {
    grid-template-columns: 1fr; /* Одна колонка карточек */
  }
}

@media (max-width: 1200px) {
  .header-container {
    gap: 20px;
  }
  .hero h1 {
    font-size: clamp(1.8rem, 3.5vw, 3.5rem);
  }
  .hero h2 {
    font-size: clamp(0.9rem, 1.5vw, 1.8rem);
  }
  .card-container {
    grid-template-columns: 1fr; /* Одна колонка для карточек */
  }
}

@media (max-width: 992px) {
  .header-container {
    text-align: center;
  }

  .nav-list {
    gap: 20px;
  }
  .hero {
    padding: 15px;
    height: auto;
  }
  .hero-content {
    padding: 10px;
  }

  .team-photo {
    margin: 0 auto 15px; /* Центровка фото */
  }

  .team-member {
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
  }
  .team-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  /* Перенос меню в одну строку */
  .nav-list {
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 0 10px; /* Отступы слева и справа */
  }

  .header {
    padding: 10px 0; /* Уменьшаем внутренние отступы */
  }

  .nav-item a {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для мобильных устройств */
  }

  /* Если нужно дополнительно центрировать меню */
  .header-container {
    display: flex;
    justify-content: center;
  }

  .card-container,
  .card-container-2 {
    grid-template-columns: 1fr; /* Одна колонка карточек */
  }

  .card-container-4 {
    grid-template-columns: 1fr; /* Одна колонка */
  }

  .box {
    min-width: 90%;
    padding: 5vh 5vw;
  }

  .hero-content {
    text-align: center;
    padding: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .card {
    font-size: 1rem;
  }

  .team-container {
    flex-direction: column; /* Расположить элементы вертикально */
    align-items: center;
  }

  .footer-row {
    grid-template-columns: 1fr; /* Одна колонка */
    text-align: center;
  }

  .footer a,
  .footer p {
    transform: translateX(-20px);
  }

  .footer .mail {
    transform: translateX(0px);
  }
  .footer .social-links a {
    transform: translateX(0px);
  }

  .footer h4::before {
    left: 50%; /* Центровать линию под заголовком */
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .nav-item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
  }
  .header {
    padding: 10px;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero h2 {
    font-size: 1rem;
  }
  .card-container,
  .card-container-2,
  .card-container-4 {
    grid-template-columns: 1fr; /* Полная ширина для карточек */
  }
  .footer-row {
    grid-template-columns: 1fr; /* Все блоки в один столбец */
    gap: 20px;
  }
  .footer .social-links a {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}

@media (max-height: 700px) {
  .fullscreen-container-login {
    min-height: 700px;
  }
}

/* Адаптация для смартфонов (ширина 480px и меньше) */
@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px; /* Уменьшить общий размер текста */
  }

  .header-container {
    padding: 5px;
  }

  .nav-list,
  .header-actions {
    gap: 10px;
  }

  .hero-content {
    padding: 10px;
  }

  .hero h1 {
    font-size: 1.2rem;
  }

  .hero h2 {
    font-size: 0.8rem;
  }

  .box {
    padding: 5vw;
    font-size: 0.7rem; /* Уменьшить шрифт */
  }

  .card-container {
    grid-template-columns: 1fr; /* Одна колонка */
  }

  .card {
    font-size: 0.6rem;
  }

  .team-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
  }

  .footer-row {
    grid-template-columns: 1fr; /* Одна колонка */
  }

  .footer ul li a {
    font-size: 0.8rem;
  }

  .footer h4 {
    font-size: 1rem;
  }
}
