{% extends 'base.html' %}



{% block header_list %}
{{ super() }}
<li class="nav-item"><a href="#about">О проекте</a></li>
<li class="nav-item"><a href="#contacts">Контакты</a></li>
{% endblock %}

{% block header_actions %}
<a href="{{url_for('login')}}" class="signin">Вход</a>
{{ super() }}
{% endblock %}



{% block content %}
<!-- Hero Section -->
<section id="main" class="hero">
    <h1>Методы ИИ в управлении космическими аппаратами</h1>
    <p>Фундаментальные исследования и разработка инновационных решений для космической отрасли.</p>
</section>

<!-- Main Content -->
<section id="about" class="section">
    <main class="main">
        <!-- Description -->
        <div class="about">
            <div class="tikhonov">
                <img src="https://tm.spbu.ru/images/tikhonov.jpg" name="Руководитель проекта"
                    alt="Руководитель проекта">
            </div>
            <div class="about2">
                <h2>Информация о проекте</h2>
                <p><strong>Руководитель:</strong> Тихонов Алексей Александрович, Доктор физико-математических наук
                </p>

                <p><strong>Грант:</strong> РНФ-DST №24-41-02031.</p>

                <p><strong>Название:</strong> Методы искусственного интеллекта и магнитоэлектрические эффекты в
                    задачах
                    динамики и управления движением телекоммуникационных космических аппаратов.</p>

                <p><strong>Организация финансирования:</strong> Санкт-Петербургский государственный университет, г.
                    Санкт-Петербург.</p>
                <p>
                    Проект посвящен фундаментальным научным исследованиям, а также разработке новых технических
                    решений
                    в области математического моделирования и анализа суперпозиции гравитационных и
                    магнито-электрических эффектов в задачах динамики и управления орбитальным и угловым движением
                    космических аппаратов (КА) и группировками КА, в том числе с использованием методов
                    искусственного
                    интеллекта (ИИ). Основным объектом исследования будут КА и группировки КА, взаимодействующие с
                    геомагнитным полем посредством лоренцевых сил и моментов, а также моментов, обусловленным
                    магнитным
                    взаимодействием.
                </p>

            </div>
        </div>
    </main>
</section>

<!-- About project -->
<section class="section">
    <h2>Описание проекта</h2>
    <p>
        В результате математического и компьютерного моделирования и последующего анализа процессов динамики
        управляемого движения КА и группировок КА, движущихся в гравитационном и магнитном полях Земли, будет
        решен целый комплекс новых задач, объединяющих три актуальные проблемы:
    </p>
    <ul>
        <li>Проблема обеспечения эффективных комбинированных (в частности - электродинамических) методов
            управления угловым и орбитальным движением КА, в том числе, КА, функционирующих в составе
            группировок.</li>
        <li>Проблема реализации методов машинного обучения и нейронных сетей на борту КА для управления (в том
            числе, автономного) движением КА в условиях динамических возмущений и ошибок определения ориентации.
        </li>
        <li>Проблема обеспечения активной противорадиационной защиты КА от ионизирующих излучений.</li>
    </ul>
    <p>Эта особенность придает данному проекту междисциплинарный характер. В то же время, актуальность и
        комплексность поставленных задач объясняет принципиальную важность и целесообразность объединения усилий
        специалистов из разных областей знания и даже из разных стран для повышения эффективности решения
        поставленных задач.
        Научная новизна проекта определяется тем, что в процессе выполнения НИР:</p>
    <ul>
        <li>Будут изучаться новые магнито-электрические эффекты в движении КА и разрабатываться новые уточненные
            математические модели движения КА с электродинамическим управлением.</li>
        <li>Будут разрабатываться новые подходы к реализации методов машинного обучения и реализации нейронных
            сетей на борту КА для управления (в том числе, автономного) движением КА и группировками КА в
            условиях систематических погрешностей и неизвестных ограниченных помех, вызванных динамическими
            возмущениями и ошибками определения ориентации.
        </li>
        <li>Будут разрабатываться новые способы активной защиты КА от ионизирующих излучений.</li>
    </ul>
    <p>Фундаментальная научная составляющая проекта предполагает развитие математических методов решения задач
        динамики интеллектуальных систем управления в условиях суперпозиции гравитационных, магнитных и
        электрических эффектов. Возможность практического использования ожидаемых результатов проекта будет
        подкрепляться новыми патентоспособными техническими решениями. Полученные в процессе реализации НИР
        результаты будут обладать высокой степенью готовности для практического внедрения в космической отрасли,
        что соответствует направлению Н6 Стратегии научно-технологического развития Российской Федерации.</p>
</section>

<!-- Team -->
<section id="contacts" class="section">
    <h2>Команда проекта</h2>
    <div class="cards">
        <div class="card">
            <h3>Никита Дябденко</h3>
            <p>@nijitaaa</p>
        </div>
        <div class="card">
            <h3>Денис Хощенко</h3>
            <p>@DenisKH06</p>
        </div>
        <div class="card">
            <h3>Никита Конный</h3>
            <p>@NikitaKonny</p>
        </div>
        <div class="card">
            <h3>Маргарита Владимировна</h3>
            <p>(+7 921 787 8826)</p>
        </div>
    </div>
</section>
</main>
{% endblock %}



</html>