{% extends 'base.html' %}

{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- Articles -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">НАУЧНЫЕ СТАТЬИ</h2>
        <div class="card-container-art">
            <!--Paste here-->

            <!--GIRI PAPERS HERE-->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Analysis and Control of Orbital Motion of Charged Satellites
                        under the influence of Lorentz force and J2 Perturbation</a></h2>
                <p><strong>Авторы: </strong>Keziah Elizabeth George, Тихонов А.А., Dipak Kumar Giri</p>
                <!--<p><strong>Journal:</strong></p>
		        <p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://lib.physcon.ru/doc?id=0e311f7547d3">Combining magnetic and Lorentz attitude control
                        systems to solve five satellite stabilization problems</a></h2>
                <p><strong>Авторы:</strong>А.А. Тихонов, Dipak Kumar Giri, М. В. Максименко, M.A. Клюшин</p>
                <p><strong>Журнал:</strong>CYBERNETICS AND PHYSICS, VOL. 14, NO. 1, 2025, 74–82</p>
                <p><strong>DOI:</strong><a
                        href="https://doi.org/10.35470/2226-4116-2024-14-1-74-82">10.35470/2226-4116-2024-14-1-74-82</a>
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://math-mech-astr-journal.spbu.ru/article/view/21687">Стабилизация электрически
                        заряженного космического аппарата в плоскости орбиты</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов</p>
                <p><strong>Журнал:</strong>«Вестник Санкт-Петербургского университета. Математика. Механика.
                    Астрономия». Том 12, № 1 (2025)</p>
                <p><strong>DOI:</strong><a href="https://doi.org/10.21638/spbu01.2025.112">10.21638/spbu01.2025.112</a>
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/pii/S0094576525001742?dgcid=author">Electrodynamic
                        attitude stabilization
                        of a satellite in an indirect position</a></h2>
                <p><strong>Авторы:</strong>М. В. Максименко, А. А. Тихонов</p>
                <p><strong>Журнал:</strong>Acta Astronautica. Volume 232, Июль 2025, Страницы 516-524</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/abs/pii/S0094576525001420">The Lorentz
                        force-based control of a spacecraft formation
                        flying using the harmonic charging law</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов</p>
                <p><strong>Журнал:</strong>Acta Astronautica, Volume 232, Июль 2025, Страницы 68-89</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.1016/j.actaastro.2024.10.043">Orbital motion control of an electrically
                        charged spacecraft</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Журнал:</strong>Acta Astronautica, Volume 226, Part 1, 2025, Pages 626-636</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.3390/aerospace11110956">Electrodynamic Attitude Stabilization of a
                        Spacecraft in an Elliptical Orbit</a></h2>
                <p><strong>Авторы:</strong>М.А. Клюшин, М.В. Максименко, А.А. Тихонов</p>
                <p><strong>Журнал:</strong>Aerospace, 2024, 11(11):956</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://ieeexplore.ieee.org/document/10739502">Monitoring and Early Proactive Control of
                        the Orbital Motion of a Charged Spacecraft</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Конференция:</strong>Семнадцатая международная конференция «Управление развитием
                    крупномасштабных систем» (MLSD-24), Москва, Российская Федерация, pp. 1-5</p>
                <p><strong>DOI:</strong>10.1109/MLSD61779.2024.10739502</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://ctamdv.ru/uploads/materials_ctam_2024.pdf">Об изменении формы орбиты космического
                        аппарата, движущегося в околоземной плазме</a></h2>
                <p><strong>Авторы:</strong>М. А. Клюшин, М. В. Максименко, В. Ю. Сахаров, А. А. Тихонов </p>
                <p><strong>Конференция:</strong>III Научная конференция с международным участием (г.
                    Комсомольскна-Амуре, 7-11 октября 2024 г.)</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на
                        эллиптической орбите</a></h2>
                <p><strong>Авторы:</strong> M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Конференция:</strong> 10-ые Поляховские чтения, Санкт-Петербург: ООО "Издательство ВВМ",
                    2024. – С. 224-227.</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}