{% extends 'base.html' %}

{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- Articles -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">НАУЧНЫЕ СТАТЬИ</h2>
        <div class="card-container-art">
            <!--Paste here
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>название</h2>
                <p><strong>Авторы:</strong></p>
                <p><strong>Журнал:</strong></p>
		        <p><strong>DOI:</strong><a href=""></a></p>
            </div> -->

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://math-mech-astr-journal.spbu.ru/article/view/23896"></a>Момент сил Лоренца, действующих на ИСЗ с двойным электрическим слоем </h2>
                <p><strong>Авторы:</strong>Петров К.Г., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>Вестник Санкт-Петербургского университета. Математика. Механика. Астрономия. 2025. Т.12(70). Вып.4. С.795–803.</p>
		        <!--<p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="http://ait.mtas.ru/ru/archive/volume87issue3/AutTel03-004Maksimenko.pdf"></a>Модификация электродинамического метода трехосной стабилизации искусственного спутника Земли в орбитальной системе координат </h2>
                <p><strong>Авторы:</strong>Максименко М.В., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>АВТОМАТИКА И ТЕЛЕМЕХАНИКА. 2026 ; № 3. стр. 46-63.</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.7868/S2413977726030043"></a>10.7868/S2413977726030043</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.mendeley.com/catalogue/9b1c821f-3a7d-3476-8510-ef28b7aa8f8e"></a>Модификация электродинамического метода трехосной стабилизации космического аппарата для околополярных орбит</h2>
                <p><strong>Авторы:</strong>Максименко М.В., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>КОМПЬЮТЕРНЫЕ ИССЛЕДОВАНИЯ И МОДЕЛИРОВАНИЕ. 2026 ; Том 18, № 1. стр. 149-168.</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.20537/2076-7633-2026-18-1-149-168"></a>10.20537/2076-7633-2026-18-1-149-168</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>On Optimization of the Electrodynamic System of Attitude Stabilization of Spacecraft Using the Particle Swarm Optimization in the Presence of Permanently Acting Disturbances</h2>
                <p><strong>Авторы:</strong>M. V. Maksimenko, K. G. Petrov and A. A. Tikhonov </p>
                <p><strong>Журнал:</strong>2025 9th International Conference on Information, Control, and Communication Technologies (ICCT), Gomel, Belarus, 2025, pp. 1-6</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.1109/ICCT67028.2025.11427771"></a>10.1109/ICCT67028.2025.11427771</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Maintaining Control of Spacecraft Formation Flying Using the Geomagnetic Lorentz Force </h2>
                <p><strong>Авторы:</strong>M.A. Klyushin, A.A. Tikhonov, V.Yu. Sakharov, A. Das, D.K. Giri</p>
                <p><strong>Журнал:</strong>Journal of Guidance, Control, and Dynamics. </p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.2514/1.G009483"></a>10.2514/1.G009483</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>A resonance-based method for spacecraft formation flying control using the Lorentz force </h2>
                <p><strong>Авторы:</strong>M.A. Klyushin, A.A. Tikhonov, V.Yu. Sakharov, A. Das, D.K. Giri </p>
                <p><strong>Журнал:</strong>Acta Astronautica, Volume 245, 2026. Pages 587-602.</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.1016/j.actaastro.2026.03.013"></a>10.1016/j.actaastro.2026.03.013</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <!-- New articles 2026 starts here -->

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Использование нейросети для стабилизации углового положения ИСЗ</h2>
                <p><strong>Авторы:</strong>Орехов К.А., Сахаров В.Ю., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>Материалы IX Международной научной конференции Информационные технологии и технические средства управления (ICCT-2025) (7-11 октября 2025 г., Гомель, Республика Беларусь)</p>
		        <p><strong>ISBN:</strong>978-5-91450-284-0</p>
            </div>   

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>ОБ ЭЛЕКТРОДИНАМИЧЕСКОМ СПОСОБЕ БЕЗРЕАКТИВНОГО УПРАВЛЕНИЯ ОРБИТАЛЬНЫМ ДВИЖЕНИЕМ КОСМИЧЕСКОГО АППАРАТА</h2>
                <p><strong>Авторы:</strong>Клюшин М.А., Петров К.Г., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>18-я Международная конференция «Управление развитием крупномасштабных систем» памяти А.Д. Цвиркуна (MLSD’2025), 24-26 сентября 2025 г.</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.1109/MLSD65526.2025.11220662"></a>10.1109/MLSD65526.2025.11220662</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>ПРИМЕНЕНИЕ МЕТОДА РОЯ ЧАСТИЦ В ЗАДАЧЕ СИНТЕЗАЭЛЕКТРОДИНАМИЧЕСКОГО УПРАВЛЕНИЯ ДЛЯ УГЛОВОЙ СТАБИЛИЗАЦИИКОСМИЧЕСКОГО АППАРАТА</h2>
                <p><strong>Авторы:</strong>Максименко М.В., Наумова Н.В., Сахаров В.Ю.</p>
                <p><strong>Журнал:</strong>18-я Международная конференция «Управление развитием крупномасштабных систем» памяти А.Д. Цвиркуна (MLSD’2025), 24-26 сентября 2025 г., IEEE Xplore</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.1109/MLSD65526.2025.11220615"></a>10.1109/MLSD65526.2025.11220615</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Об электродинамическом управлении вращательным движением космического аппарата вокруг нормали к плоскости орбиты</h2>
                <p><strong>Авторы:</strong>Максименко М.В., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>XVIII Всероссийская мультиконференция по проблемам управления (МКПУ–2025) : материалы мультиконференции (Тула, 15 сентября – 20 сентября 2025 г.): 
                                            в 4 т. Т. 3 Управление аэрокосмическими системами им. академика Е. А. Микрина (УАКС- 2025) 
                                            / под ред. академика РАН С.Ю. Желтова — Тула : Изд-во ТулГУ, 2025. - 259 с., с. 202-205.</p>
		        <!--<p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Момент сил Лоренца, действующих на ИСЗ с двойным электрическим слоем</h2>
                <p><strong>Авторы:</strong>Петров К.Г., Тихонов А.А.</p>
                <p><strong>Журнал:</strong>Вестник СПбГУ. Математика. Механика. Астрономия. 2025. Вып. 4.</p>
		        <!--<p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Investigating Potential Applications of Lorentz Force for Spacecraft Formation Flying with Reduced Fuel Consumption</h2>
                <p><strong>Авторы:</strong>Suresh S., Tikhonov A.A., Giri D.K.</p>
                <p><strong>Журнал:</strong>System Engineering and Long-Term Space Travel, 
Held at the IAF Global Space Exploration Conference 2025 (GLEX 2025), pp. 80-85. GLEX–25–4,IP,7,x93789, January 2025</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.52202/080555-0011"></a>10.52202/080555-0011</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Об управлении движением в задаче инспектирования космического аппарата</h2>
                <p><strong>Авторы:</strong>Клюшин М.А. </p>
                <p><strong>Журнал:</strong>XXXII Санкт-Петербургская международная конференция по интегрированным навигационным системам. 
Сборник материалов конференции. Санкт-Петербург, 2025. С. 72-74.</p>
		        <!--<p><strong>DOI:</strong><a href=""></a></p>-->
            </div>
            
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a>Spacecraft control in constrained environments: barrier Lyapunov function-based rendezvous and docking with hybrid actuator assembly.</h2>
                <p><strong>Авторы:</strong>Tanya Krishna Kumar, Prabhjeet Singh, Dipak Kumar Giri, Alexey Tikhonov</p>
                <p><strong>Журнал:</strong>IAF Astrodynamics Symposium, 2025. IAC–25–C1,IP,26,x102310</p>
		        <!--<p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <!--GIRI PAPERS HERE-->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Analysis and Control of Orbital Motion of Charged Satellites
                        under the influence of Lorentz force and J2 Perturbation</a></h2>
                <p><strong>Авторы: </strong>Keziah Elizabeth George, Тихонов А.А., Dipak Kumar Giri</p>
                <!--<p><strong>Journal:</strong></p>
		        <p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://lib.physcon.ru/doc?id=0e311f7547d3">Combining magnetic and Lorentz attitude control
                        systems to solve five satellite stabilization problems</a></h2>
                <p><strong>Авторы:</strong>А.А. Тихонов, Dipak Kumar Giri, М. В. Максименко, M.A. Клюшин</p>
                <p><strong>Журнал:</strong>CYBERNETICS AND PHYSICS, VOL. 14, NO. 1, 2025, 74–82</p>
                <p><strong>DOI:</strong><a
                        href="https://doi.org/10.35470/2226-4116-2024-14-1-74-82">10.35470/2226-4116-2024-14-1-74-82</a>
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://math-mech-astr-journal.spbu.ru/article/view/21687">Стабилизация электрически
                        заряженного космического аппарата в плоскости орбиты</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов</p>
                <p><strong>Журнал:</strong>«Вестник Санкт-Петербургского университета. Математика. Механика.
                    Астрономия». Том 12, № 1 (2025)</p>
                <p><strong>DOI:</strong><a href="https://doi.org/10.21638/spbu01.2025.112">10.21638/spbu01.2025.112</a>
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/pii/S0094576525001742?dgcid=author">Electrodynamic
                        attitude stabilization
                        of a satellite in an indirect position</a></h2>
                <p><strong>Авторы:</strong>М. В. Максименко, А. А. Тихонов</p>
                <p><strong>Журнал:</strong>Acta Astronautica. Volume 232, Июль 2025, Страницы 516-524</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/abs/pii/S0094576525001420">The Lorentz
                        force-based control of a spacecraft formation
                        flying using the harmonic charging law</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов</p>
                <p><strong>Журнал:</strong>Acta Astronautica, Volume 232, Июль 2025, Страницы 68-89</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.1016/j.actaastro.2024.10.043">Orbital motion control of an electrically
                        charged spacecraft</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Журнал:</strong>Acta Astronautica, Volume 226, Part 1, 2025, Pages 626-636</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.3390/aerospace11110956">Electrodynamic Attitude Stabilization of a
                        Spacecraft in an Elliptical Orbit</a></h2>
                <p><strong>Авторы:</strong>М.А. Клюшин, М.В. Максименко, А.А. Тихонов</p>
                <p><strong>Журнал:</strong>Aerospace, 2024, 11(11):956</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://ieeexplore.ieee.org/document/10739502">Monitoring and Early Proactive Control of
                        the Orbital Motion of a Charged Spacecraft</a></h2>
                <p><strong>Авторы:</strong>M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Конференция:</strong>Семнадцатая международная конференция «Управление развитием
                    крупномасштабных систем» (MLSD-24), Москва, Российская Федерация, pp. 1-5</p>
                <p><strong>DOI:</strong>10.1109/MLSD61779.2024.10739502</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://ctamdv.ru/uploads/materials_ctam_2024.pdf">Об изменении формы орбиты космического
                        аппарата, движущегося в околоземной плазме</a></h2>
                <p><strong>Авторы:</strong>М. А. Клюшин, М. В. Максименко, В. Ю. Сахаров, А. А. Тихонов </p>
                <p><strong>Конференция:</strong>III Научная конференция с международным участием (г.
                    Комсомольскна-Амуре, 7-11 октября 2024 г.)</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на
                        эллиптической орбите</a></h2>
                <p><strong>Авторы:</strong> M.A. Клюшин, A.A. Тихонов, Д.K. Гири</p>
                <p><strong>Конференция:</strong> 10-ые Поляховские чтения, Санкт-Петербург: ООО "Издательство ВВМ",
                    2024. – С. 224-227.</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}