{% extends 'base_eng.html' %}

{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- Articles -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">SCIENTIFIC ARTICLES</h2>
        <div class="card-container-art">
            <!--Paste here
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href=""></a></h2>
                <p><strong>Authors:</strong></p>
                <p><strong>Journal:</strong></p>
		        <p><strong>DOI:</strong><a href=""></a></p>
            </div>-->

            <!--GIRI PAPERS HERE-->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Analysis and Control of Orbital Motion of Charged Satellites
	under the influence of Lorentz force and J2 Perturbation</a></h2>
                <p><strong>Authors: </strong>Keziah Elizabeth George, Alexey A. Tikhonov, Dipak Kumar Giri</p>
                <!--<p><strong>Journal:</strong></p>
		        <p><strong>DOI:</strong><a href=""></a></p>-->
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://lib.physcon.ru/doc?id=0e311f7547d3">Combining magnetic and Lorentz attitude control systems to solve five satellite stabilization problems</a></h2>
                <p><strong>Authors:</strong>Alexey Tikhonov, Dipak Giri, Margarita Maksimenko, Maksim Klyushin</p>
                <p><strong>Journal:</strong>CYBERNETICS AND PHYSICS, VOL. 14, NO. 1, 2025, 74–82</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.35470/2226-4116-2024-14-1-74-82">10.35470/2226-4116-2024-14-1-74-82</a></p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://math-mech-astr-journal.spbu.ru/article/view/21687">Stabilization of an electrically charged spacecraft in the orbital plane</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, A.A. Tikhonov</p>
                <p><strong>Journal:</strong>Vestnik of Saint Petersburg University. Mathematics. Mechanics. Astronomy, 12(1), 160–176.</p>
		        <p><strong>DOI:</strong><a href="https://doi.org/10.21638/spbu01.2025.112">10.21638/spbu01.2025.112</a></p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/pii/S0094576525001742?dgcid=author">Electrodynamic
                        attitude stabilization of a satellite in an indirect position</a></h2>
                <p><strong>Authors:</strong>M.V. Maksimenko, A.A. Tikhonov</p>
                <p><strong>Journal:</strong>Acta Astronautica. Volume 232, July 2025, Pages 516-524</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://www.sciencedirect.com/science/article/abs/pii/S0094576525001420">The Lorentz
                        force-based control of a spacecraft formation
                        flying using the harmonic charging law</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, A.A. Tikhonov</p>
                <p><strong>Journal:</strong>Acta Astronautica, Volume 232, July 2025, Pages 68-89</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.1016/j.actaastro.2024.10.043">Orbital motion control of an electrically
                        charged spacecraft</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, A.A. Tikhonov, D.K. Giri</p>
                <p><strong>Journal:</strong>Acta Astronautica, Volume 226, Part 1, 2025, Pages 626-636</p>
                <p><strong>ISSN:</strong>0094-5765</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://doi.org/10.3390/aerospace11110956">Electrodynamic Attitude Stabilization of a
                        Spacecraft in an Elliptical Orbit</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, M.V. Maksimenko, A.A. Tikhonov</p>
                <p><strong>Journal:</strong>Aerospace, 2024, 11(11):956</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a href="https://ieeexplore.ieee.org/document/10739502">Monitoring and Early Proactive Control of
                        the Orbital Motion of a Charged Spacecraft</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, A.A. Tikhonov, D.K. Giri</p>
                <p><strong>Conference:</strong>2024 17th International Conference on Management of Large-Scale System
                    Development (MLSD), Moscow, Russian Federation, 2024, pp. 1-5</p>
                <p><strong>DOI:</strong>10.1109/MLSD61779.2024.10739502</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>On the change in the shape of the orbit of a spacecraft moving in near-Earth plasma</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, M.V. Maksimenko, V.Yu. Sakharov, A.A. Tikhonov</p>
                <p><strong>Conference:</strong>The Third Scientific Conference with International Participation
                    (Komsomolsk-on-Amur, October 7-11, 2024)</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>On electrodynamic stabilization of angular motion of an artificial Earth satellite in an
                        elliptical orbit</a></h2>
                <p><strong>Authors:</strong>M.A. Klyushin, A.A. Tikhonov, D.K. Giri</p>
                <p><strong>Conference:</strong>The Tenth Polyakhov's reading (September 23-27, 2024)</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}