<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The project is dedicated to research into magnetoelectric effects and the use of AI for control
                            movement and protection of spacecraft. Carried out with the support of the Russian Science Foundation in collaboration with
                            St. Petersburg State University. 
                            The project is dedicated to fundamental scientific research, 
                            as well as the development of new technical solutions in the field of 
                            mathematical modeling and analysis superpositions of gravitational and 
                            magneto-electric effects in problems of dynamics and control of orbital and 
                            angular motion of spacecraft (SC) snd groups of SC, 
                            including using artificial intelligence (AI) methods. 
                            The main object of study is spacecraft and groupings of spacecraft, 
                            interacting with the geomagnetic field through Lorentzian forces and moments, 
                            as well as moments caused by magnetic interaction.">
    <meta name="keywords" content="научный проект, технологии, исследования, инновации, математика, физика, космические аппараты, космос, Мат-Мех, Математико-Механический факультет, СПбГУ, РНФ, пространство, спейс, math-mech, math, mechanics, projects, space, spbu, SPbU">
    <meta name="author" content="Тихонов Алексей Александрович, СПбГУ">
    <link rel="canonical" href="https://math-mech-space.ru/">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMA3e7D/70Ly4#important" crossorigin="anonymous">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>rsf-dst-24-41-02031</title>
    {% endif %}

</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="header-container">
            <!--div class="header-logo">
                <img class="logo-image" src="{{ url_for('static', filename='images/logo_1.png') }}" alt="Логотип">
            </div-->
            <nav class="header-nav" aria-label="Главное меню">
                <ul class="nav-list">
                    {% block header_list %}
                    <li class="nav-item"><a href="{{url_for('index_eng')}}">Main</a></li>
                    <li class="nav-item">
                        <a href="{{url_for('news_eng')}}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-toggle">Materials <span class="arrow"><i
                                    class="fa fa-angle-up"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('articles_eng')}}">Articles</a></li>
                            <li><a href="{{url_for('conferences_eng')}}">Conferences</a></li>
                            <li><a href="{{url_for('inventions_eng')}}">Inventions</a></li>
                        </ul>
                    </li>
                    {% endblock %}
                </ul>
            </nav>
            <nav class="header-nav">
                <ul class="nav-list">
                    {% block header_actions %}
                    <li class="nav-item"><a href="{{url_for('index')}}">RU</a></li>
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </header>


    {% block content %}
    {% endblock %}

    <!-- Footer >
    <footer class="footer">
        <a href="https://rscf.ru/project/24-41-02031/">Link to the project card on the website
            RSF</a>
    </footer-->

    <footer class="footer">
        <div class="footer-row">
            <div class="footer-col-1">
                <h4>About us</h4>
                <ul>
                    <li>
                        <p>The project is dedicated to research into magnetoelectric effects and the use of AI for control
                            movement and protection of spacecraft. Carried out with the support of the Russian Science Foundation in collaboration with
                            St. Petersburg State University.</p>
                    </li>
                    <li><a href="https://rscf.ru/project/24-41-02031/"> &#10097 Link to the project card on the RSF website</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h4>Materials</h4>
                <ul>
                    <li><a href="{{url_for('news_eng')}}">News</a></li>
                    <li><a href="{{url_for('articles_eng')}}">Articles</a></li>
                    <li><a href="{{url_for('conferences_eng')}}">Conferences</a></li>
                    <li><a href="{{url_for('inventions_eng')}}">Inventions</a></li>
                </ul>
                <br>
                <br>
            </div>
            <div class="footer-col-3">
                <h4>Contacts</h4>
                <ul>
                <a class="mail">&#9993 a.tikhonov@spbu.ru</a>
                <a class="mail">&#9993 dkgiri@iitk.ac.in</a>

            </ul>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800, /* Длительность анимации */
            easing: 'ease', /* Плавность */
            once: true,
        });

        document.addEventListener("DOMContentLoaded", () => {
            const header = document.querySelector(".header");
            const heroSection = document.querySelector(".hero");

            // Обработчик прокрутки
            const handleScroll = () => {
                if (heroSection != null) {
                    const heroHeight = heroSection.offsetHeight; // Высота секции hero
                    if (window.scrollY > heroHeight - 50) {
                        header.classList.add("scroll-active");
                    } else {
                        header.classList.remove("scroll-active");
                    }
                } else {
                    header.classList.add("scroll-active");
                }
            };

            // Слушатель события прокрутки
            window.addEventListener("scroll", handleScroll);
        });
    </script>
</body>

</html>