{% extends 'base.html' %}



{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}



{% block content %}


<!-- Articles -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">НАУЧНЫЕ КОНФНРЕНЦИИ</h2>
        <div class="card-container-art">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>A brief survey of AI-based methods in astrodynamic problems with disturbances, noises and uncertainties</a></h2>
                <p><strong>Конференция:</strong>The Third Serbian International Conference on Applied Artificial Intelligence (SICAAI), May 23-24, 2024, Kragujevac, Serbia
                </p>
                <p><strong>Авторы:</strong>Amelina N.O., Granichin O.N., Ivanskiy Y.V., Kopylova K.D., Maksimenko M.V., Sakharov V.Yu., Tikhonov A.A.</p>
                <p><strong>Докладчик:</strong>Kopylova K.D.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Интеграция и оптимизация систем управления угловым движением искусственного спутника Земли</a></h2>
                <p><strong>Конференция:</strong>Международная научно-практическая конференция по перспективным достижениям в информатике, информационным системам и сетям (ETISSN 2024) (11-12 июня 2024 г.)
                </p>
                <p><strong>Авторы:</strong>Тихонов А.А., Максименко М.В.</p>
                <p><strong>Докладчик:</strong>Тихонов А.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review
                </a></h2>
                <p><strong>Конференция:</strong>8th Scientific School Dynamics of Complex Networks and their Applications (DCNA) (19-24 сентября 2024 г.)
                </p>
                <p><strong>Авторы:</strong>Граничин, О. Н., Тихонов, А. А., Иванский, Ю. В., Копылова, К. Д.
                </p>
                <p><strong>Докладчик:</strong>Копылова К.Д.</p>
            </div>




            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на эллиптической орбите
                </a></h2>
                <p><strong>Конференция:</strong>X Поляховские чтения (23-27 сентября 2024г.)</p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p><strong>Докладчик:</strong>Максименко М.В.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>О проблемах и перспективах учета возмущений и неопределенностей в задачах динамики космических аппаратов
                </a></h2>
                <p><strong>Конференция:</strong>X Поляховские чтения (23-27 сентября 2024г.)
                </p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Максименко М.В., Сахаров В.Ю., Иванский Ю.В., Амелина Н.О.</p>
                <p><strong>Докладчик:</strong>Копылова К.Д.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>НЕЛИНЕЙНАЯ ДИНАМИКА И ЧИСЛЕННОЕ МОДЕЛИРОВАНИЕ ЗАДАЧИ УПРАВЛЕНИЯ ОРБИТАЛЬНЫМ ДВИЖЕНИЕМ ЗАРЯЖЕННОГО КОСМИЧЕСКОГО АППАРАТА</a></h2>
                <p><strong>Конференция:</strong>Семнадцатая международная конференция «Управление развитием крупномасштабных систем» (MLSD'2024) (24-26 сентября 2024 г.)

                </p>
                <p><strong>Авторы:</strong>Клюшин М.А.,Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p><strong>Докладчик:</strong>Клюшин М.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>A brief survey of AI-based methods in astrodynamic problems with disturbances, noises and uncertainties</a></h2>
                <p><strong>Конференция:</strong>The Third Serbian International Conference on Applied Artificial Intelligence (SICAAI), May 23-24, 2024, Kragujevac, Serbia
                </p>
                <p><strong>Авторы:</strong>Amelina N.O., Granichin O.N., Ivanskiy Y.V., Kopylova K.D., Maksimenko M.V., Sakharov V.Yu., Tikhonov A.A.</p>
                <p>[editor Nenad Filipović]. - Kragujevac: University, 2024, P. 126.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review</a></h2>
                <p><strong>Конференция:</strong>VIII Scientific School «Dynamics of Complex Networks and their Applications» (DCNA'2024) Калининград</p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Иванский Ю.В.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Мониторинг и ранний упреждающий контроль орбитального движения заряженного космического аппарата</a></h2>
                <p><strong>Конференция:</strong>17-я Международная конференция «Управление развитием крупномасштабных систем» (MLSD-24)
                </p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
            </div>




            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на эллиптической орбите</a></h2>
                <p><strong>Конференция:</strong>Х Поляховские чтения: Материалы международной научной конференции по механике, 23-27 сентября 2024, Санкт-Петербург, Россия. – СПб.</p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p>Изд-во ВВМ, 2024. 754 с., С. 224-227.</p>
            </div>


            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>О проблемах и перспективах учета возмущений и неопределенностей в задачах динамики космических аппаратов</a></h2>
                <p><strong>Конференция:</strong>Х Поляховские чтения: Материалы международной научной конференции по механике, 23-27 сентября 2024, Санкт-Петербург, Россия. – СПб.</p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Максименко М.В., Сахаров В.Ю., Иванский Ю.В., Амелина Н.О.</p>
                <p>Изд-во ВВМ, 2024. 754 с., С. 697-700.</p>
            </div>


        </div>
    </div>
</div>

{% endblock %}