{% extends 'base_eng.html' %}



{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}



{% block content %}


<!-- Articles -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">SCIENTIFIC CONFERENCES</h2>
        <div class="card-container-art">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>A brief survey of AI-based methods in astrodynamic problems with disturbances, noises and
                        uncertainties</a></h2>
                <p><strong>Conference:</strong>The Third Serbian International Conference on Applied Artificial
                    Intelligence (SICAAI), May 23-24, 2024, Kragujevac, Serbia
                </p>
                <p><strong>Authors:</strong>Amelina N.O., Granichin O.N., Ivanskiy Y.V., Kopylova K.D., Maksimenko M.V.,
                    Sakharov V.Yu., Tikhonov A.A.</p>
                <p><strong>Speaker:</strong>Kopylova K.D.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Integration and optimization of artificial satellite angular motion control systems</a></h2>
                <p><strong>Conference:</strong>International Scientific and Practical Conference on Advanced Advances in
                    Informatics, Information Systems and Networks (ETISSN 2024) (June 11-12, 2024)
                </p>
                <p><strong>Authors:</strong>Tikhonov A.A., Maksimenko M.V.</p>
                <p><strong>Speaker:</strong>Tikhonov A.A.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review
                    </a></h2>
                <p><strong>Conference:</strong>8th Scientific School Dynamics of Complex Networks and their Applications
                    (DCNA) (September 19-24, 2024)
                </p>
                <p><strong>Authors:</strong>Granichin O.N., Tikhonov A.A., Ivanskiy Y.V., Kopylova K.D.
                </p>
                <p><strong>Speaker:</strong>Kopylova K.D.</p>
            </div>




            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>On electrodynamic stabilization of angular motion of an artificial Earth satellite in an
                        elliptical orbit
                    </a></h2>
                <p><strong>Conference:</strong>The Tenth Polyakhov's reading (September 23-27, 2024)</p>
                <p><strong>Authors:</strong>Klyushin M.A., Maksimenko M.V., Sakharov V.Yu., Tikhonov A.A.</p>
                <p><strong>Speaker:</strong>Maksimenko M.V.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Problems and prospects of accounting for perturbations and uncertainties in spacecraft dynamics
                        problems
                    </a></h2>
                <p><strong>Conference:</strong>The Tenth Polyakhov's reading (September 23-27, 2024)
                </p>
                <p><strong>Authors:</strong>Granichin O.N., Tikhonov A.A., Kopylova K.D., Maksimenko M.V., Sakharov
                    V.Yu., Ivanskiy Y.V., Amelina N.O.</p>
                <p><strong>Speaker:</strong>Kopylova K.D.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>NONLINEAR DYNAMICS AND NUMERICAL MODELING OF THE CHARGED SPACECRAFT ORBITAL MOTION CONTROL
                        PROBLEM</a></h2>
                <p><strong>Conference:</strong>The 17-th International Conference «Management of Large-Scale System
                    Development» (MLSD-24) (September 24-26, 2024)
                </p>
                <p><strong>Authors:</strong>Klyushin M.A., Maksimenko M.V., Sakharov V.Yu., Tikhonov A.A.</p>
                <p><strong>Speaker:</strong>Klyushin M.A.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>A brief survey of AI-based methods in astrodynamic problems with disturbances, noises and
                        uncertainties</a></h2>
                <p><strong>Conference:</strong>The Third Serbian International Conference on Applied Artificial
                    Intelligence (SICAAI), May 23-24, 2024, Kragujevac, Serbia
                </p>
                <p><strong>Authors:</strong>Amelina N.O., Granichin O.N., Ivanskiy Y.V., Kopylova K.D., Maksimenko M.V.,
                    Sakharov V.Yu., Tikhonov A.A.</p>
                <p>[editor Nenad Filipović]. - Kragujevac: University, 2024, P. 126.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review</a></h2>
                <p><strong>Conference:</strong>VIII Scientific School «Dynamics of Complex Networks and their
                    Applications» (DCNA'2024) Kaliningrad</p>
                <p><strong>Authors:</strong>Granichin O.N., Tikhonov A.A., Kopylova K.D., Ivanskiy Y.V.</p>
            </div>



            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Monitoring and early pre-emptive control of orbital motion of a charged spacecraft</a></h2>
                <p><strong>Conference:</strong>The 17-th International Conference «Management of Large-Scale System
                    Development» (MLSD-24) (September 24-26, 2024)
                </p>
                <p><strong>Authors:</strong>Klyushin M.A., Maksimenko M.V., Sakharov V.Yu., Tikhonov A.A.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}