{% extends 'base.html' %}

{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- Conferences -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">НАУЧНЫЕ КОНФЕРЕНЦИИ</h2>
        <div class="card-container-art">
            <!-- Paste Here -->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>ОБ АНАЛИТИЧЕСКОМ ИССЛЕДОВАНИИ ДВИЖЕНИЯ
                        ФОРМАЦИИ ИЗ ДВУХ КОСМИЧЕСКИХ АППАРАТОВ В ГЕОФИЗИЧЕСКИХ ПОЛЯХ
                    </a></h2>
                <p><strong>Конференция:</strong>Международная научная Четаевская
                    конференция «Аналитическая механика, устойчивость и управление», 16-20 июня 2025, г.
                    Казань, Российская Федерация
                </p>
                <p><strong>Авторы:</strong>Клюшин М.А., Тихонов А.А.
                </p>
                <p><strong>Докладчик:</strong>Клюшин М.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>О МОДИФИКАЦИИ ЭЛЕКТРОДИНАМИЧЕСКОГО
                        УПРАВЛЕНИЯ ДЛЯ ТРЕХОСНОЙ УГЛОВОЙ СТАБИЛИЗАЦИИ ИСЗ В НЕПРЯМОМ ПОЛОЖЕНИИ
                        В ОРБИТАЛЬНОЙ СИСТЕМЕ КООРДИНАТ
                    </a></h2>
                <p><strong>Конференция:</strong>Международная научная Четаевская
                    конференция «Аналитическая механика, устойчивость и управление», 16-20 июня 2025, г.
                    Казань, Российская Федерация
                </p>
                <p><strong>Авторы:</strong>Максименко М.В., Тихонов А.А.
                </p>
                <p><strong>Докладчик:</strong>Максименко М.В.</p>
            </div>

            <!--GIRI PAPERS HERE-->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Investigating Potential Application of Lorentz Force for
                        Spacecraft Formation Flying with Reduced Fuel Consumption</a></h2>
                <p><strong>Конференция:</strong>The Global Space Exploration Conference, Нью Дели, Индия, 2025
                </p>
                <p><strong>Авторы:</strong>Shalini Suresh, Тихонов А.А, Dipak Kumar Giri
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Development of In-house Variable Speed Control Moment
                        Gyroscope Based Satellite Attitude System Tabletop Test Bench</a></h2>
                <p><strong>Конференция:</strong>The Global Space Exploration Conference, Нью Дели, Индия, 2025
                </p>
                <p><strong>Авторы:</strong>Mridul Sengupta, Aditya Nath Roy, Aman Bhavsar, Тихонов А.А., Dipak Kumar
                    Giri
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Spacecraft Control in Constrained Environments: Barrier
                        Lyapunov Function-Based Rendezvous and Docking with Hybrid Actuator Assembly</a></h2>
                <p><strong>Конференция:</strong>76th International Astronautical Congress, Сидней, Австралия, 2025
                </p>
                <p><strong>Авторы:</strong>Tanya Krishna Kumar, Prabhjeet Singh, Dipak Kumar Giri, Тихонов А.А.
                </p>
            </div>

            <!-- Клюшин, конф. в Электроприборе-->
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об управлении движением группировки малых космических аппаратов</a></h2>
                <p><strong>Конференция:</strong>XXVII Конференция молодых ученых «Навигация и управление движением», 18
                    — 21 марта 2025, ЦНИИ «Электроприбор», г. Санкт-Петербург</p>
                <p><strong>Секция:</strong>№ 9 «Интегрированные инерциальные и спутниковые системы»</p>
                <p><strong>Автор:</strong>Клюшин М.А.</p>
                <p><strong>Докладчик:</strong>Клюшин М.А.</p>
                <p><a href="https://math-mech-space.ru/news">Ссылка для перехода в раздел "Новости" с дополнением</a>
                </p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на
                        эллиптической орбите</a></h2>
                <p><strong>Конференция:</strong>10-ые Поляховские чтения: Материалы международной научной конференции по
                    механике, 23-27 сентября 2024, Санкт-Петербург, Россия. – СПб.</p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p>Изд-во ВВМ, 2024. 754 с., С. 224-227.</p>
            </div>


            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>О проблемах и перспективах учета возмущений и неопределенностей в задачах динамики космических
                        аппаратов</a></h2>
                <p><strong>Конференция:</strong>10-ые Поляховские чтения: Материалы международной научной конференции по
                    механике, 23-27 сентября 2024, Санкт-Петербург, Россия. – СПб.</p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Максименко М.В., Сахаров В.Ю.,
                    Иванский Ю.В., Амелина Н.О.</p>
                <p>Изд-во ВВМ, 2024. 754 с., С. 697-700.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Мониторинг и ранний упреждающий контроль орбитального движения заряженного космического
                        аппарата</a></h2>
                <p><strong>Конференция:</strong>17-я Международная конференция «Управление развитием крупномасштабных
                    систем» (MLSD-24)
                </p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review</a></h2>
                <p><strong>Конференция:</strong>VIII научная школа «Динамика сложных сетей и их приложения» (DCNA'2024),
                    Калининград</p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Иванский Ю.В.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Нелинейная динамика и численное моделирование задачи управления орбитальным движением заряженного
                        космического аппарата
                    </a></h2>
                <p><strong>Конференция:</strong>Семнадцатая международная конференция «Управление развитием
                    крупномасштабных систем» (MLSD'2024) (24-26 сентября 2024 г.)

                </p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p><strong>Докладчик:</strong>Клюшин М.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>О проблемах и перспективах учета возмущений и неопределенностей в задачах динамики космических
                        аппаратов
                    </a></h2>
                <p><strong>Конференция:</strong>X Поляховские чтения (23-27 сентября 2024г.)
                </p>
                <p><strong>Авторы:</strong>Граничин О.Н., Тихонов А.А., Копылова К.Д., Максименко М.В., Сахаров В.Ю.,
                    Иванский Ю.В., Амелина Н.О.</p>
                <p><strong>Докладчик:</strong>Копылова К.Д.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Об электродинамической стабилизации углового движения искусственного спутника Земли на
                        эллиптической орбите
                    </a></h2>
                <p><strong>Конференция:</strong>X Поляховские чтения (23-27 сентября 2024г.)</p>
                <p><strong>Авторы:</strong>Клюшин М.А., Максименко М.В., Сахаров В.Ю., Тихонов А.А.</p>
                <p><strong>Докладчик:</strong>Максименко М.В.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>AI methods of control for distributed space systems: a review
                    </a></h2>
                <p><strong>Конференция:</strong>8th Scientific School Dynamics of Complex Networks and their
                    Applications (DCNA) (19-24 сентября 2024 г.)
                </p>
                <p><strong>Авторы:</strong>Граничин, О. Н., Тихонов, А. А., Иванский, Ю. В., Копылова, К. Д.
                </p>
                <p><strong>Докладчик:</strong>Копылова К.Д.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Интеграция и оптимизация систем управления угловым движением искусственного спутника Земли</a>
                </h2>
                <p><strong>Конференция:</strong>Международная научно-практическая конференция по перспективным
                    достижениям в информатике, информационным системам и сетям (ETISSN 2024) (11-12 июня 2024 г.)
                </p>
                <p><strong>Авторы:</strong>Тихонов А.А., Максименко М.В.</p>
                <p><strong>Докладчик:</strong>Тихонов А.А.</p>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2><a>Краткий обзор методов на основе ИИ в задачах астродинамики с возмущениями, шумами и
                        неопределенностями</a></h2>
                <p><strong>Конференция:</strong>The Third Serbian International Conference on Applied Artificial
                    Intelligence (SICAAI), 23-24 мая 2024 года, Крагуевац, Сербия
                </p>
                <p><strong>Авторы:</strong>Амелина Н.О., Граничин О.Н., Иванский Ю.В., Копылова К.Д., Максименко М.В.,
                    Сахаров В.Ю., Тихонов А.А.</p>
                <p>[редактор Ненад Филипович]: Крагуевацкий университет, 2024, С. 126.</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}