{% extends 'base.html' %}

{% block header_list %}
{{ super() }}
<li class="nav-item"><a href="#about">О проекте</a></li>
<li class="nav-item"><a href="#contacts">Команда</a></li>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section id="main" class="hero">
    <div class="hero-content">
        <h1 data-aos="fade-right">Методы искусственного интеллекта и магнитоэлектрические эффекты</h1>
        <h2 data-aos="fade-left">в задачах динамики и управления движением космических телекоммуникационных аппаратов
        </h2>
    </div>
</section>

<!-- Main Content -->
<div id="about" class="fullscreen-container">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="600">Информация о проекте</h2>
        <p>СОВМЕСТНЫЙ ПРОЕКТ РОССИЙСКОГО НАУЧНОГО ФОНДА И МИНИСТЕРСТВА НАУКИ И ТЕХНОЛОГИЙ ИНДИИ</p>
        <br>
        <div class="card-container">

            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Руководитель проекта с российской стороны</h4>
                <p>Проф. Тихонов Алексей Александрович
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Организация финансирования</h4>
                <p>Российский научный фонд (РНФ)</p>
                <p>Грант № 24-41-02031</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Руководитель проекта с индийской стороны</h4>
                <p>Dr. Дипак Кумар Гири</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="900">
                <h4>Организация финансирования</h4>
                <p>Department of Science and Technology of the Ministry of Science and Technology of the Republic of
                    India (DST)</p>
                <p>Грант № DST/INT/RUS/RSF/P-70/2023(G)</p>
            </div>
        </div>
    </div>
</div>


<div class="fullscreen-container-2">
    <div class="box-2">
        <h2 data-aos="fade-right" data-aos-duration="600">Описание проекта</h2>
        <p data-aos="fade-up">Проект посвящен фундаментальным научным исследованиям, а также разработке новых
            технических решений в области
            математического моделирования и анализа суперпозиции гравитационных и магнито-электрических эффектов в
            задачах динамики и управления орбитальным и угловым движением <strong>космических аппаратов (КА)</strong> и
            группировками КА,
            в том числе с использованием методов <strong>искусственного интеллекта (ИИ)</strong>. Основным объектом
            исследования являются КА и группировки КА, взаимодействующие с геомагнитным полем посредством лоренцевых сил
            и моментов, а также моментов, обусловленным магнитным взаимодействием.</p>

    </div>
</div>


<div class="fullscreen-container-3">
    <div class="box-3">
        <h2 data-aos="fade-right" data-aos-duration="600">Цели и задачи проекта</h2>
        <p data-aos="fade-up" data-aos-duration="600">В результате математического и компьютерного моделирования и
            последующего анализа
            процессов динамики
            управляемого движения КА и группировок КА, движущихся в гравитационном и магнитном полях Земли, будет решен
            целый комплекс новых задач, объединяющих три актуальные проблемы: </p>
        <div class="card-container-2">
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Комбинированное управление движением</h4>
                <p>Проблема обеспечения эффективных комбинированных (в частности - электродинамических)
                    методов
                    управления
                    угловым и орбитальным движением КА, в том числе, КА, функционирующих в составе группировок</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Искусственный интеллект на борту</h4>
                <p>Проблема реализации методов машинного обучения и нейронных сетей на борту КА для
                    управления (в том
                    числе,
                    автономного) движением КА в условиях динамических возмущений и ошибок определения ориентации</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Противорадиационная защита</h4>
                <p>Проблема обеспечения активной противорадиационной защиты КА от ионизирующих излучений
                </p>
            </div>
        </div>
    </div>
</div>

<!--1. Designing Orbit Estimation Tool in the presence of Lorentz force
and traditional perturbation forces
        Создание Инструмента Оценки Орбит с учетом Лоренцевых сил и традиционных возмущающих компонент внешних сил.

  Perturbation forces have consistently been a challenge in the work
of Flight Dynamics and Operation engineers while establishing up-link
and down-link with the satellite. As a result of these perturbation
forces, the satellite orbit undergoes a consistent decay over a period
of time. Lorentz force, is one such perturbation which is mainly
present in the LEO. As the satellite is electrically charged either
due to photoelectric effect or present of charge on the spacecraft
body, when it comes in contact with the magnetic field of the
satellite, Lorentz force is generated. This would potentially add to
the perturbation faced by the satellite. This research takes into
account the mathematical modelling of the Lorentz force and develops a
software tool using Batch least square estimator algorithm to
accurately predict the upcoming orbital pass so that the ground
station antenna can establish a strong up-link with the satellite

2. Development and Testing of Coordinated Attitude Control Testbeds
for Multi Cube-Satellite Operations

    Разработка и тестирование Испитытельных стендов функционирования группировок Cubesat 
    с Координированным Управлением Высотой.


Coordinated attitude control in spacecraft ensures precise orientation
alignment among multiple satellites, enabling efficient formation
flying, high-resolution imaging, inter-satellite communication, and
autonomous in-orbit operations like Rendezvous and Docking Operations,
servicing and in orbit satellite surveillance. Ground based testing
plays a crucial role in pre-mission phases. Hardware in the loop is
one of the methods which is used to test the software and hardware
architectures. This research carries out a comprehensive examination
and development of two in house developed spacecraft attitude control
simulator testbeds. Which includes numerical simulations of 3 Axis
Reaction Wheel, Pyramidal Configuration Reaction Wheel Array, and a
cluster of control moment gyroscopes. Furthermore, this explores
different system architectures of each actuator configuration, control
laws and potential upgrardes for the system architectures. ROS (Robot
Operating System) has been utilized for various applications which
includes real time attitude data logging and visualization, inter
satellite communication and layer abstraction for co-ordinated control
commands. The overall test facility will include a helmholtz cage to
demonstrate magnetic fields of Low Earth Orbit to create a spacelike
environment. The future of the setup holds various potential
applications like synchronized flying, RPO, and CPO of satellites
equipped with robotic manipulators.

3. Resonant Orbital Dynamics of a Charged Spacecraft in Low Earth
Orbit(LEO)

    Резонансная орбитальная динамика заряженных КА на низких околоземных орбитах.

This research investigates the resonance phenomena in the orbital
dynamics of a charged spacecraft operating in Low Earth Orbit (LEO),
accounting for key perturbative forces: atmospheric drag, Earth’s
oblateness (J2), and Lorentz force due to interaction with Earth’s
dipole magnetic field. The orbital equations of motion are decomposed
into three degrees of freedom, allowing a detailed analysis of
infinitesimal deviations from a nominal trajectory. By linearizing the
system about the equilibrium path, we are investigating the resonance
conditions. The inclusion of the Lorentz force introduces
charge-to-mass ratio dependence, enabling active modulation of
resonant behavior through spacecraft charging. This framework serves
as a foundation for designing future charge-controlled orbital
maneuvers and stability enhancement techniques, particularly in
low-thrust or drag-modulated scenarios. The study presents both
analytical and numerical insights into the emergence and suppression
of resonant features in a multi-perturbative environment.-->

<div class="fullscreen-container-4">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="500">Научная новизна и актуальность</h2>
        <p data-aos="fade-up">Актуальность и комплексность поставленных задач объясняет принципиальную важность и
            целесообразность
            объединения усилий специалистов из разных областей знания и даже из разных стран для повышения эффективности
            решения поставленных задач.</p>
        <p data-aos="fade-up">Научная новизна проекта определяется тем, что в процессе выполнения НИР </p>
        <br>
        <div class="card-container-4">
            <div class="card" data-aos="fade-up" data-aos-duration="500">
                <h4>1</h4>
                <p>Будут изучаться новые магнито-электрические эффекты в движении КА и разрабатываться новые уточненные
                    математические модели движения КА с электродинамическим управлением</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>2</h4>
                <p>Разработаны новые подходы к реализации методов машинного обучения и реализации нейронных
                    сетей на борту КА для управления (в том числе, автономного) движением КА и группировками КА в
                    условиях систематических погрешностей и неизвестных ограниченных помех, вызванных динамическими
                    возмущениями и ошибками определения ориентации</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>3</h4>
                <p>Предложены новые способы активной защиты КА от ионизирующих излучений</p>
            </div>
        </div>
    </div>
</div>

<div id="contacts" class="fullscreen-container-5">
    <div class="box-4">
        <h2 data-aos="fade-right" data-aos-duration="600">Команда проекта</h2>
        <p data-aos="fade-up" data-aos-duration="600">— это люди, которые объединяют опыт и идеи, чтобы воплощать
            проекты в жизнь.</p>
        <br>
        <div class="team-container">
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/photo_1.png" alt="Тихонов Алексей Александрович" class="team-photo">
                <div>
                    <h3 class="team-name">Тихонов Алексей Александрович</h3>
                    <p class="team-role">Руководитель проекта со стороны Российской Федерации</p>
                </div>
            </div>
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/Dipak-Giri-2.jpg" alt="Дупак Кумар Гири" class="team-photo">
                <div>
                    <h3 class="team-name">Дипак Кумар Гири</h3>
                    <p class="team-role">Руководитель проекта со стороны Индии</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}