{% extends 'base.html' %}



{% block header_list %}
{{ super() }}
<li class="nav-item"><a href="#about">О проекте</a></li>
<li class="nav-item"><a href="#contacts">Команда</a></li>
{% endblock %}

{% block header_actions %}
{{ super() }}
{% if current_user.is_anonymous %}
<li class="nav-item"><a href="{{url_for('login')}}">Вход</a></li>
{% else %}
<li id="name" class="nav-item"><a>{{ current_user.username }}</a>
<li class="nav-item"><a href="{{url_for('logout')}}">Выйти</a></li>
{% endif %}
{% endblock %}



{% block content %}
<!-- Hero Section -->
<section id="main" class="hero">
    <div class="hero-content">
        <h1 data-aos="fade-right">Методы искусственного интеллекта и магнитоэлектрические эффекты</h1>
        <h2 data-aos="fade-left">в задачах динамики и управления движением космических телекоммуникационных аппаратов
        </h2>
    </div>
</section>


<!-- Main Content -->
<div id="about" class="fullscreen-container">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="600">Информация о проекте</h2>
        <div class="card-container">

            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Руководитель</h4>
                <p>Тихонов Алексей Александрович, Доктор физико-математических наук
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Грант</h4>
                <p>РНФ-DST №24-41-02031.</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>Название</h4>
                <p>Методы искусственного интеллекта и магнитоэлектрические эффекты в
                    задачах
                    динамики и управления движением телекоммуникационных космических аппаратов.</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="900">
                <h4>Организация финансирования</h4>
                <p>Российский научный фонд</p>
                <p>Период выполнения при поддержке: 2024 г. - 2026 г.</p>

            </div>
        </div>
    </div>
</div>


<div class="fullscreen-container-2">
    <div class="box-2">
        <h2 data-aos="fade-right" data-aos-duration="600">Описание проекта</h2>
        <p data-aos="fade-up">Проект посвящен фундаментальным научным исследованиям, а также разработке новых
            технических решений в области
            математического моделирования и анализа суперпозиции гравитационных и магнито-электрических эффектов в
            задачах динамики и управления орбитальным и угловым движением <strong>космических аппаратов (КА)</strong> и
            группировками КА,
            в том числе с использованием методов <strong>искусственного интеллекта (ИИ)</strong>. Основным объектом
            исследования будут КА
            и группировки КА, взаимодействующие с геомагнитным полем посредством лоренцевых сил и моментов, а также
            моментов, обусловленным магнитным взаимодействием.</p>

    </div>
</div>


<div class="fullscreen-container-3">
    <div class="box-3">
        <h2 data-aos="fade-right" data-aos-duration="600">Цели и задачи проекта</h2>
        <p data-aos="fade-up" data-aos-duration="600">В результате математического и компьютерного моделирования и последующего анализа
            процессов динамики
            управляемого движения КА и группировок КА, движущихся в гравитационном и магнитном полях Земли, будет решен
            целый комплекс новых задач, объединяющих три актуальные проблемы: </p>
        <div class="card-container-2">
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Комбинированное управление движением</h4>
                <p class="bor">Проблема обеспечения эффективных комбинированных (в частности - электродинамических)
                    методов
                    управления
                    угловым и орбитальным движением КА, в том числе, КА, функционирующих в составе группировок</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Искусственный интеллект на борту</h4>
                <p class="bor">Проблема реализации методов машинного обучения и нейронных сетей на борту КА для
                    управления (в том
                    числе,
                    автономного) движением КА в условиях динамических возмущений и ошибок определения ориентации</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Противорадиационная защита</h4>
                <p class="bor">Проблема обеспечения активной противорадиационной защиты КА от ионизирующих излучений
                </p>
            </div>
        </div>
    </div>
</div>



<div class="fullscreen-container-4">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="500">Научная новизна и актуальность</h2>
        <p data-aos="fade-up">Актуальность и комплексность поставленных задач объясняет принципиальную важность и
            целесообразность
            объединения усилий специалистов из разных областей знания и даже из разных стран для повышения эффективности
            решения поставленных задач.</p>
        <p data-aos="fade-up">Научная новизна проекта определяется тем, что в процессе выполнения НИР </p>
        <br>
        <div class="card-container-4">
            <div class="card" data-aos="fade-up" data-aos-duration="500">
                <h4>1</h4>
                <p>Будут изучаться новые магнито-электрические эффекты в движении КА и разрабатываться новые уточненные
                    математические модели движения КА с электродинамическим управлением</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>2</h4>
                <p>Будут разрабатываться новые подходы к реализации методов машинного обучения и реализации нейронных
                    сетей на борту КА для управления (в том числе, автономного) движением КА и группировками КА в
                    условиях систематических погрешностей и неизвестных ограниченных помех, вызванных динамическими
                    возмущениями и ошибками определения ориентации</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>3</h4>
                <p>Будут разрабатываться новые способы активной защиты КА от ионизирующих излучений</p>
            </div>
        </div>
    </div>
</div>





<!-- Карточка для цитаты

<div class="quote-block">
    <span class="quote-mark">"</span>
    <p class="quote-text">Наука — это не мудрость, застывшая в книгах, а энергия, движущая мир.</p>
    <span class="quote-author">— Дмитрий Менделеев</span>
</div-->



<div id="contacts" class="fullscreen-container-5">
    <div class="box-4">
        <h2 data-aos="fade-right" data-aos-duration="600">Команда проекта</h2>
        <p data-aos="fade-up" data-aos-duration="600">— это люди, которые объединяют опыт и идеи, чтобы воплощать
            проекты в жизнь.</p>
        <br>
        <div class="team-container">
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/photo_1.png" alt="Тихонов Алексей Александрович" class="team-photo">
                <div>
                    <h3 class="team-name">Тихонов Алексей Александрович</h3>
                    <p class="team-role">Руководитель проекта</p>
                </div>
            </div>
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/Dipak-Giri-2.png" alt="Дупак Кумар Гири" class="team-photo">
                <div>
                    <h3 class="team-name">Дипак Кумар Гири</h3>
                    <p class="team-role">Соруководитель проекта</p>
                </div>
            </div>
        </div>

    </div>
</div>




</main>
{% endblock %}