{% extends 'base_eng.html' %}

{% block header_list %}
{{ super() }}
<li class="nav-item"><a href="#about">About project</a></li>
<li class="nav-item"><a href="#contacts">Contacts</a></li>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section id="main" class="hero">
    <div class="hero-content">
        <h1 data-aos="fade-right">Methods of artificial intelligence and magneto-electric effects</h1>
        <h2 data-aos="fade-left">in the dynamics and motion control problems of telecommunication spacecraft</h2>
    </div>
</section>

<!-- Main Content -->
<div id="about" class="fullscreen-container">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="600">About project</h2>
        <p>JOINT PROJECT OF THE RUSSIAN SCIENCE FOUNDATION AND DEPARTMENT OF SCIENCE AND TECHNOLOGY OF THE REPUBLIC OF
            INDIA</p>
        <br>
        <div class="card-container">

            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>MANAGER FROM THE RUSSIAN SIDE</h4>
                <p>Prof. Alexey Alexandrovich Tikhonov
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>ORGANIZATION OF FINANCING</h4>
                <p>Russian Science Foundation (RSF)</p>
                <p>Grant № 24-41-02031</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="800">
                <h4>MANAGER FROM THE INDIAN SIDE</h4>
                <p>Dr. Dipak Kumar Giri</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="900">
                <h4>ORGANIZATION OF FINANCING</h4>
                <p>Department of Science and Technology of the Ministry of Science and Technology of the Republic of
                    India (DST)</p>
                <p>Grant № DST/INT/RUS/RSF/P-70/2023(G)</p>

            </div>
        </div>
    </div>
</div>

<div class="fullscreen-container-2">
    <div class="box-2">
        <h2 data-aos="fade-right" data-aos-duration="600">Project description</h2>
        <p data-aos="fade-up">The project is devoted to fundamental scientific research, as well as the development of
            new technical solutions in the field of mathematical modeling and analysis of the superposition of
            gravitational and magneto-electric effects in the problems of dynamics and control of the orbital and
            angular motion of <strong>spacecraft (SC)</strong> and SC constellations, including using methods of
            <strong>artificial intelligence (AI)</strong>. The main object of study will be spacecraft and spacecraft
            constellations interacting with the geomagnetic field through Lorentz forces and moments, as well as moments
            due to magnetic interaction
        </p>
    </div>
</div>

<div class="fullscreen-container-3">
    <div class="box-3">
        <h2 data-aos="fade-right" data-aos-duration="600">Project goals and objectives</h2>
        <p data-aos="fade-up" data-aos-duration="600">As a result of mathematical and computer modeling and subsequent
            analysis of the processes of the dynamics of the controlled motion of spacecraft and spacecraft
            constellations moving in the gravitational and magnetic fields of the Earth, a whole range of new problems
            will be solved, combining three urgent problems: </p>

        <div class="card-container-2">
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Combined Motion Control</h4>
                <p class="bor">The problem of providing effective combined (in particular, electrodynamic) methods for
                    controlling the angular and orbital motion of a spacecraft, including spacecraft operating as part
                    of constellations</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Artificial intelligence on board</h4>
                <p class="bor">The problem of implementing machine learning methods and neural networks on board the
                    spacecraft to control (including autonomous) the movement of the spacecraft under conditions of
                    dynamic disturbances and orientation errors</p>
            </div>
            <div class="card-2" data-aos="fade-up" data-aos-duration="600">
                <h4>Anti-radiation protection</h4>
                <p class="bor">The problem of providing active anti-radiation protection of the spacecraft from ionizing
                    radiation
                </p>
            </div>
        </div>
    </div>
</div>

<!--1. Designing Orbit Estimation Tool in the presence of Lorentz force
and traditional perturbation forces

  Perturbation forces have consistently been a challenge in the work
of Flight Dynamics and Operation engineers while establishing up-link
and down-link with the satellite. As a result of these perturbation
forces, the satellite orbit undergoes a consistent decay over a period
of time. Lorentz force, is one such perturbation which is mainly
present in the LEO. As the satellite is electrically charged either
due to photoelectric effect or present of charge on the spacecraft
body, when it comes in contact with the magnetic field of the
satellite, Lorentz force is generated. This would potentially add to
the perturbation faced by the satellite. This research takes into
account the mathematical modelling of the Lorentz force and develops a
software tool using Batch least square estimator algorithm to
accurately predict the upcoming orbital pass so that the ground
station antenna can establish a strong up-link with the satellite

2. Development and Testing of Coordinated Attitude Control Testbeds
for Multi Cube-Satellite Operations

Coordinated attitude control in spacecraft ensures precise orientation
alignment among multiple satellites, enabling efficient formation
flying, high-resolution imaging, inter-satellite communication, and
autonomous in-orbit operations like Rendezvous and Docking Operations,
servicing and in orbit satellite surveillance. Ground based testing
plays a crucial role in pre-mission phases. Hardware in the loop is
one of the methods which is used to test the software and hardware
architectures. This research carries out a comprehensive examination
and development of two in house developed spacecraft attitude control
simulator testbeds. Which includes numerical simulations of 3 Axis
Reaction Wheel, Pyramidal Configuration Reaction Wheel Array, and a
cluster of control moment gyroscopes. Furthermore, this explores
different system architectures of each actuator configuration, control
laws and potential upgrardes for the system architectures. ROS (Robot
Operating System) has been utilized for various applications which
includes real time attitude data logging and visualization, inter
satellite communication and layer abstraction for co-ordinated control
commands. The overall test facility will include a helmholtz cage to
demonstrate magnetic fields of Low Earth Orbit to create a spacelike
environment. The future of the setup holds various potential
applications like synchronized flying, RPO, and CPO of satellites
equipped with robotic manipulators.

3. Resonant Orbital Dynamics of a Charged Spacecraft in Low Earth
Orbit(LEO)

This research investigates the resonance phenomena in the orbital
dynamics of a charged spacecraft operating in Low Earth Orbit (LEO),
accounting for key perturbative forces: atmospheric drag, Earth’s
oblateness (J2), and Lorentz force due to interaction with Earth’s
dipole magnetic field. The orbital equations of motion are decomposed
into three degrees of freedom, allowing a detailed analysis of
infinitesimal deviations from a nominal trajectory. By linearizing the
system about the equilibrium path, we are investigating the resonance
conditions. The inclusion of the Lorentz force introduces
charge-to-mass ratio dependence, enabling active modulation of
resonant behavior through spacecraft charging. This framework serves
as a foundation for designing future charge-controlled orbital
maneuvers and stability enhancement techniques, particularly in
low-thrust or drag-modulated scenarios. The study presents both
analytical and numerical insights into the emergence and suppression
of resonant features in a multi-perturbative environment.-->

<div class="fullscreen-container-4">
    <div class="box">
        <h2 data-aos="fade-right" data-aos-duration="500">Scientific novelty and relevance</h2>
        <p data-aos="fade-up">The relevance and complexity of the tasks set explain the fundamental importance and
            expediency of combining the efforts of specialists from different fields of knowledge and even from
            different countries to improve the efficiency of solving the tasks set.
        </p>
        <p data-aos="fade-up">The scientific novelty of the project is determined by the fact that in the process of
            performing research: </p>
        <br>
        <div class="card-container-4">
            <div class="card" data-aos="fade-up" data-aos-duration="500">
                <h4>1</h4>
                <p>New magneto-electric effects in spacecraft motion will be studied and new refined mathematical models
                    of spacecraft motion with electrodynamic control will be developed</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>2</h4>
                <p>New approaches are developed for the implementation of machine learning methods and the
                    implementation of neural networks on board the spacecraft to control (including autonomous) the
                    movement of the spacecraft and the spacecraft constellations under conditions of systematic errors
                    and unknown limited interference caused by dynamic disturbances and orientation errors</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>3</h4>
                <p>New methods of active protection of spacecraft from ionizing radiation are proposed</p>
            </div>
            <!--<div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>4</h4>
                <p>New methods of active protection of spacecraft from ionizing radiation will be developed</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>5</h4>
                <p>New methods of active protection of spacecraft from ionizing radiation will be developed</p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="600">
                <h4>6</h4>
                <p>New methods of active protection of spacecraft from ionizing radiation will be developed</p>
            </div>-->
        </div>
    </div>
</div>

<div id="contacts" class="fullscreen-container-5">
    <div class="box-4">
        <h2 data-aos="fade-right" data-aos-duration="600">Project team</h2>
        <p data-aos="fade-up" data-aos-duration="600">— these are people who combine experience and ideas to implement
            projects to life.</p>
        <br>
        <div class="team-container">
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/photo_1.png" alt="Тихонов Алексей Александрович" class="team-photo">
                <div>
                    <h3 class="team-name">Tikhonov Alexey Alexandrovich</h3>
                    <p class="team-role">Manager from the Russian side</p>
                </div>
            </div>
            <div class="team-member" data-aos="fade-up">
                <img src="../static/images/Dipak-Giri-2.jpg" alt="Дипак Кумар Гири" class="team-photo">
                <div>
                    <h3 class="team-name">Dipak Kumar Giri</h3>
                    <p class="team-role">Manager from the Indian side</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}