{% extends 'base_eng.html' %}



{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}



{% block content %}


<!-- News wall -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">News</h2>

        <div class="card-container-art">

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>M.A. Klyushin - winner of the Saint Petersburg Government Scholarship 2024 programm,</h2>
                <p>The Committee on Science and Higher Education summed up the results of the competition for
                    scholarships from the Government of St. Petersburg in the 2024-2025 academic year.
                <p>In accordance with the decision of the Competition Committee, Klyushin Maxim Alexandrovich have been
                    awarded nominal scholarships by the Government of St. Petersburg on the basis of the order of the
                    Committee on Science and Higher Education dated 2024/10/24 No. 198.
                    <a
                        href="https://students.spbu.ru/mmen-stipendii/stipendii/zayavki-na-imennye-i-personalnye-stipendii-dlya-obuchayushchikhsya-spbgu/8410-itogi-konkursov-na-imennye-stipendii-pravitelstva-sankt-peterburga-3.html">
                        The Government of St. Petersburg scholarships competitions results</a>
                    <br>
                <div class="data">November 27, 2024</div>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>M.A. Klyushin got scholarship named after Professor N.F. Morozov,</h2>
                <p>In December 2024, a competition was held for the scholarship named after Professor N. F. Morozov in
                    the 2024-2025 academic year. Following the meeting, the commission compiled a ranked list of
                    applicants recommended for a nominal scholarship.
                <p>In the 2024-2025 academic year, one scholarship named after N. F. Morozov was established and it was
                    awarded to Maxim Alexandrovich Klyushin based on the results of the competition.
                <p>The project team wishes Maxim Alexandrovich further victories and productive work.
                    <a
                        href="https://students.spbu.ru/mmen-stipendii/stipendii/zayavki-na-imennye-i-personalnye-stipendii-dlya-obuchayushchikhsya-spbgu/8482-ob-itogakh-konkursa-na-soiskanie-stipendii-imeni-n-f-morozova.html">About
                        the results of the competition for the N. F. Morozov scholarship</a>
                    <br>
                <div class="data">December 27, 2024</div>
            </div>


            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>M.A. Klyushin - winner of the Potanin Foundation 2024/2025 scholarship program</h2>
                <p>Maxim Klyushin is the winner of the 2024/2025 Potanin Foundation Scholarship program.
                    Maxim Alexandrovich Klyushin, a second-year masters course student at St. Petersburg State
                    University, became one of the winners of the Vladimir Potanin Charitable Foundation scholarship
                    competition. Maxim is studying in the field of Mechanics and Mathematical Modeling (Studying program
                    code: 01.04.03) and was selected among 3654 participants based on the results of a multi-stage
                    examination.
                <p>In the 2024/2025 academic year, 750 students from 68 Russian universities became scholarship holders.
                    Special attention in the competition was paid to the analysis of the use of artificial intelligence:
                    23% of the winners used AI tools when preparing applications, mainly for text editing.
                <p>St. Petersburg State University entered the top 5 universities in terms of the number of scholarship
                    holders (40 winners). Additional information and a complete list of results are available on the
                    website of the Potanin Foundation.
                <p><a
                        href="https://fondpotanin.ru/press/news/25-let-podderzhki-talantlivykh-studentov-nazvany-pobediteli-stipendialnogo-konkursa-2024-2025/">
                        the Potanin Foundation website</a>.
                    <br>
                <div class="data">February 28, 2025</div>
            </div>
        </div>


        <div class="card-container-art">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>St. Petersburg State University teams performed at the IV Open International Internet Olympiad with
                    high
                    results</h2>
                <p>On March 10-15, the IV Open International Internet Olympiad in the discipline "Theoretical Mechanics"
                    was
                    held, organized by the State Energy Institute of Turkmenistan.
                    More than 700 students from 17 countries, such as Russia, China, Turkmenistan, Uzbekistan,
                    Tajikistan,
                    Saudi Arabia, Turkey, Afghanistan, Kyrgyzstan, Germany, Indonesia, USA, Belarus, Malaysia, Romania,
                    Hungary, Iran took part in the tournament.
                    No more than 10 students from each university could participate in an individual round, and 1 or 2
                    teams
                    of up to 5 students could participate in team competitions.
                </p>

                <p>St. Petersburg State University, Faculty of Mathematics and Mechanics was represented by two teams of
                    students:
                </p>


                <div class="card-container">
                    <div class="card">
                        <p>Maxim Klyushin (Captain), 2nd year Master's Degree, Department of Theoretical and Applied
                            Mechanics
                            <br>Batalov Semyon, 2nd year Master's degree, Department of Hydroaeromechanics
                            <br>Danil Bystrov, 5th year Specialist, Department of Mathematics
                            <br>Artem Chuikov, 4th year student
                            <br>Alexander Plakhotnikov, 1st year student
                        </p>
                    </div>
                    <div class="card">
                        <p>Alexey Lozovoy (Captain), 3rd year, Department of Theoretical and Applied Mechanics
                            <br>Cherenkov Alexander, 5th year specialist, Department of Elasticity Theory
                            <br>Li Peize, 3rd year specialist
                            <br>Glazyrin Alexey,
                            <br>Samokhin Pavel,
                        </p>
                    </div>
                </div>

                <p>According to the results of the Olympiad:
                    <br>Klyushin's team took the first place in team competition!
                    <br> Maxim Klyushin took 3rd place in the individual competition!
                    <br> Alexey Lozovoy took the 2nd place in the individual competition!
                </p>

                <div class="justphoto-container">
                    <img src="../static/images/Team_Turkmen2024_diplom.jpg" alt="Диплом за первое командное место"
                        class="justphoto">
                    <img src="../static/images/Klyushin_Turkmen2024_diplom.jpg"
                        alt="Диплом Клюшина М.А. за третье место" class="justphoto">
                    <img src="../static/images/Lozovoy_Turkmen2024_diplom.jpg"
                        alt="Диплом Лозового А.С. за второе место" class="justphoto">
                </div>

                <p>Congratulations to all participants with a great performance!</p>


                <div class="data">May 27, 2025</div>
            </div>

        </div>
    </div>
</div>


{% endblock %}