{% extends 'base.html' %}

{% block header_list %}
{{ super() }}
{% endblock %}

{% block header_actions %}
{{ super() }}
{% endblock %}

{% block content %}


<!-- News -->
<div id="about" class="fullscreen-container-art">
    <div class="box-art">
        <h2 data-aos="fade-right" data-aos-duration="600">Новости</h2>

        <div class="card-container-art">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>М.А. Клюшин - лауреат программы стипендий правительства Санкт-Петербурга 2024 года</h2>
                <p>Комитет по науке и высшей школе подвел итоги конкурса на получение именных стипендий Правительства
                    Санкт-Петербурга в 2024-2025 учебном году.
                <p>В соответствии с решением Конкурсной комиссии, Клюшину Максиму Александровичу назначена именная
                    стипендия Правительства Санкт-Петербурга на основании распоряжения Комитета по науке и высшей школы
                    от 24.10.2024 № 198 «О назначении и выплате именных стипендий Правительства Санкт-Петербурга
                    студентам образовательных организаций высшего образования и среднего профессионального образования»
                <p>Поздравляем Максима с этой высокой наградой!
                <p><a
                        href="https://students.spbu.ru/mmen-stipendii/stipendii/zayavki-na-imennye-i-personalnye-stipendii-dlya-obuchayushchikhsya-spbgu/8410-itogi-konkursov-na-imennye-stipendii-pravitelstva-sankt-peterburga-3.html">
                        Итоги конкурса на сайте СПбГУ</a>
                    <br>
                <div class="data">27 ноября 2024</div>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>М.А. Клюшин — лауреат стипендии имени Н. Ф. Морозова</h2>
                <p>В декабре 2024 года состоялся конкурс на соискание стипендии имени профессора Н. Ф. Морозова в
                    2024-2025 учебном году. По итогам заседания комиссией был составлен ранжированный перечень
                    претендентов, рекомендованных к получению именной стипендии:
                <p>1.Клюшин Максим Александрович, обучающийся 2 курса магистратуры по основной образовательной программе
                    01.04.03 «Механика и математическое моделирование»;
                <p>2.Антонова Мария Николаевна, обучающаяся 2 курса магистратуры по основной образовательной программе
                    01.04.03 «Механика и математическое моделирование»;
                <p>3.Шайхутдинова Ася Андреевна, обучающаяся 4 курса специалитета по основной образовательной программе
                    01.05.01 «Фундаментальные математика и механика»;
                <p>4.Кашубо Ярослав Дмитриевич, обучающийся 4 курса бакалавриата по основной образовательной программе
                    01.03.03 «Механика и математическое моделирование».
                <p>В 2024-2025 учебном году установлена 1 стипендия имени Н. Ф. Морозова. Таким образом, стипендия
                    присуждается Клюшину Максиму Александровичу.
                <p>Поздравляем и желаем дальнейших успехов!
                <p><a
                        href="https://students.spbu.ru/mmen-stipendii/stipendii/zayavki-na-imennye-i-personalnye-stipendii-%20dlya-obuchayushchikhsya-spbgu/8482-ob-itogakh-konkursa-na-soiskanie-stipendii-imeni-n-f-%20morozova.html">
                        Итоги конкурса на сайте СПбГУ</a>
                    <br>
                <div class="data">27 декабря 2024</div>
            </div>

            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>М.А. Клюшин — победитель стипендиальной программы Фонда Потанина 2024/2025</h2>
                <p>Студент 2 курса Санкт-Петербургского государственного университета Максим Александрович Клюшин вошел
                    в число победителей стипендиального конкурса Благотворительного фонда Владимира Потанина. Максим
                    обучается по направлению «Механика и математическое моделирование» (01.04.03) и был отобран среди
                    3654 участников по итогам многоэтапной экспертизы.</p>
                <p>В 2024/2025 учебном году стипендиатами стали 750 студентов из 68 вузов России. Особое внимание в
                    конкурсе уделялось анализу применения искусственного интеллекта: 23% победителей использовали
                    ИИ-инструменты при подготовке заявок, преимущественно для редактуры текстов.</p>
                <p>СПбГУ вошел в топ-5 вузов по количеству стипендиатов (40 победителей). Дополнительная информация и
                    полный список результатов доступен на <a
                        href="https://fondpotanin.ru/press/news/25-let-podderzhki-talantlivykh-studentov-nazvany-pobediteli-stipendialnogo-konkursa-2024-2025/">
                        сайте Фонда Потанина</a>.</p>
                <div class="data">28 февраля 2025</div>
            </div>
        </div>

        <div class="card-container-art two-columns">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>М.А. Клюшин получил диплом за лучший студенческий доклад конференции</h2>
                <div class="card-content">
                    <div class="text-column">
                        <p>В марте 2025 года состоялась XXVII Конференции молодых ученых «Навигация и управление
                            движением» с международным участием. Конференция проходила 18 — 21 марта 2025, ЦНИИ
                            «Электроприбор», г. Санкт-Петербург.
                        </p>
                        
                        <p>Доклад «Об управлении движением группировки малых космических аппаратов» на секции 9
                            «Интегрированные инерциальные и спутниковые системы» получил внимание участников и был
                            высоко оценен.</p>
                        <p>По итогам конференции Максим А. Клюшин получил диплом за лучший студенческий доклад.</p>
                        <p>Поздравляем Максима всей командой!</p>
                    </div>
                    <div class="image-column">
                        <img src="../static/images/Electropribor_diplom.png" alt="Диплом из ЦНИИ 'Электроприбор'"
                            class="justphoto">
                    </div>
                </div>
                <div class="data">29 апреля 2025</div>
            </div>
        </div>


        <div class="card-container-art">
            <div class="card-art" data-aos="fade-up" data-aos-duration="400">
                <h2>Команды СПбГУ Мат-Мех выступили на IV Открытой международной интернет-олимпиаде с высоким
                    результатом</h2>
                <p>10-15 марта состоялась IV Открытая международная интернет-олимпиада по дисциплине «Теоретическая
                    механика» организованная Государственным энергетическим институтом Туркменистана.
                    В турнире приняли участие ,более 700 студентов из 17 стран: России, Китая, Туркменистана,
                    Узбекистана, Таджикистана, Саудовской Аравии, Турции, Афганистана, Кыргызстана, Германии, Индонезии,
                    США, Белоруссии, Малайзии, Румынии, Венгрии, Ирана.
                    От каждого вуза в индивидуальном туре могли принять участие не более 10 студентов, в командных
                    соревнованиях – 1 или 2 команды в составе до 5 учащихся.
                </p>


                <p>Санкт-Петербургский государственный университет, Математико-Механический факультет представляли две
                    команды студентов:
                </p>



                <div class="card-container">
                    <div class="card">
                        <p>Клюшин Максим(капитан), магистр 2 курса, кафедра теоретической и прикладной механики
                            <br>Баталов Семён, магистр 2 курса, кафедра гидроаэромеханики
                            <br>Быстров Данил, специалист 5 курса, отделение чистой математики
                            <br>Чуйков Артем, 4 курс
                            <br>Плахотников Александр, 1 курс
                        </p>
                    </div>
                    <div class="card">
                        <p>Лозовой Алексей(капитан), 3 курс, кафедра теоретической и прикладной механики
                            <br>Черенков Александр, специалист 5 курса, кафедра теории упругости
                            <br>Глазырин Алексей,
                            <br>Самохин Павел,
                            <br>Ли Пэйцзэ, специалист 3 курса
                        </p>
                    </div>
                </div>

                <p>По итогам олимпиады:
                    <br> Команда Клюшина заняла первое место среди команд!
                    <br> Клюшин Максим занял 3-е место в личном зачёте!
                    <br> Лозовой Алексей занял 2-е место в личном зачёте!

                <div class="justphoto-container">
                    <img src="../static/images/Team_Turkmen2024_diplom.jpg" alt="Диплом за первое командное место"
                        class="justphoto">
                    <img src="../static/images/Klyushin_Turkmen2024_diplom.jpg"
                        alt="Диплом Клюшина М.А. за третье место" class="justphoto">
                    <img src="../static/images/Lozovoy_Turkmen2024_diplom.jpg"
                        alt="Диплом Лозового А.С. за второе место" class="justphoto">
                </div>

                <p>Поздравляем команды с великолепным выступлением!</p>

                <div class="data">27 мая 2025</div>
            </div>
        </div>

    </div>
</div>
{% endblock %}